.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.app{
  display: flex;
  flex-direction: column;
}

h1{
  color: rgb(240, 232, 232);
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2{
  color: rgb(17, 17, 17);
}

.app__top{
  background-color: rgb(27, 27, 27);
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

.app__fileSection{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 10px;
  padding-top: 3px;
}

.app__file{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  justify-content: center;

}

.editor{
  
  
  flex-grow: 1;
  flex-basis: 0;
  display: flex;  
  flex-direction: column;
  padding: 5px;
  border-radius: 3px;
}

.app__heading{
  background-color: rgb(39, 39, 39);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

h1{
  color: rgb(240, 234, 234);
  font-weight: bolder;
}

p{
  color: aliceblue;
}

.app__bottom{
  height: 50vh;
  display: flex;
}

.editor__heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.editor__heading > button {
  background-color: #1d2ec2; 
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
}


.CodeMirror{
  height: 100% !important;
  font-size: larger;
}

.code-editor-style{
  flex-grow: 1;
  overflow: hidden;
  font-size: larger;
}

.inputfileHtml {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
  padding: 5px;
  border-radius: 5px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfileHtml + label {
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin: 8px;
  border-radius: 5px;
  width: 150px;
  align-items: center;
  color: rgb(41, 41, 41);
  background-color: rgb(169, 248, 248);
  display: inline-block;
}

.inputfileHtml:focus + label,.inputfileHtml + label:hover {
  background-color: rgb(168, 255, 207);
}




.inputfileCss {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
  padding: 5px;
  border-radius: 5px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfileCss + label {
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin: 8px;
  border-radius: 5px;
  width: 150px;
  align-items: center;
  color: rgb(41, 41, 41);
  background-color: rgb(169, 248, 248);
  display: inline-block;
}

.inputfileCss:focus + label,.inputfileCss + label:hover {
  background-color: rgb(168, 255, 207);
}





.inputfileJs {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
  padding: 5px;
  border-radius: 5px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfileJs + label {
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin: 8px;
  border-radius: 5px;
  width: 150px;
  align-items: center;
  color: rgb(41, 41, 41);
  background-color: rgb(169, 248, 248);
  display: inline-block;
}

.inputfileJs:focus + label,.inputfileJs + label:hover {
  background-color: rgb(168, 255, 207);
}